<head>
    {% load  staticfiles %}
    <link rel="stylesheet" href="{% static 'css/model_photo.css' %}">
</head>
<body>
    <a href="{% url 'index' %}">
        <img class="logo" src="{% static 'image/logo.png' %}" alt="logo">
    </a>
    <div class="title">
        <p>upload your photos!</p>
    </div>
    <div class="category">
        {% if user.is_authenticated %}
            <a id="user_name" href="{% url 'profile' user.pk %}">{{ user.username }}</a>
            <a href="{% url 'logout' %}">logout</a>
        {% else %}
            <a href="{% url 'login' %}">login</a>
            <a href="{% url 'signup' %}">registration</a>
        {% endif %}
    </div>

    <div class="e">
        <div class="post">
            <form class="form-post" method="post" enctype="multipart/form-data">
                <div class="box-p1">
                    {% csrf_token %}
                </div>
                {{ form.as_p }}
            <button type="submit" class="post_button">upload</button>
        </form>
        </div>
    </div>
</body>

