<!DOCTYPE html>
    <html lang="kor">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>비밀번호 찾기</title>
            {% load staticfiles %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
        </head>
        <body>
            <a href="{% url 'index' %}">
                <img class="logo" src="../../static/image/logo.png" alt="">
            </a>
            <div class="resend_done">
                <p>해당 이메일 주소로 비밀번호 인증 이메일을 보냈습니다.</p>
                <p>만약 이메일이 오지 않았다면, 스팸메일함을 확인하거나, 가입한 이메일 주소가 확실한지 확인해주세요.</p>
            </div>
        </body>
    </html>