<head>
    {% load  staticfiles %}
    <link rel="stylesheet" href="{% static 'css/model_photo.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">


</head>
<body>
    <a href="{% url 'index' %}">
        <img class="logo" src="{% static 'image/logo.png' %}" alt="logo">
    </a>
    <div class="title">
        <p>model</p>
    </div>
    <div class="category">
        {% if user.is_authenticated %}
            <a id="user_name" href="{% url 'profile' user.pk %}">{{ user.username }}</a>
            <a href="{% url 'logout' %}">logout</a>
        {% else %}
            <a href="{% url 'login' %}">login</a>
            <a href="{% url 'signup' %}">registration</a>
        {% endif %}
    </div>
    <div class="f">
        <div class="detail">
            <p class="detail_title">{{ post_detail.title }}</p>
            <p class="detail_username">{{ user.username }}</p>
            {% if post_detail.image1 != '' %}
                <img src="{{ post_detail.image1.url }}" width = "220" alt = "{{ post_detail.title }}">
            {% endif %}
            {% if post_detail.image2 != '' %}
                <img src="{{ post_detail.image2.url }}" width = "220" alt = "{{ post_detail.title }}">
            {% endif %}
            {% if post_detail.image3 != '' %}
                <img src="{{ post_detail.image3.url }}" width = "220" alt = "{{ post_detail.title }}">
            {% endif %}
            {% if post_detail.image4 != '' %}
                <img src="{{ post_detail.image4.url }}" width = "220" alt = "{{ post_detail.title }}">
            {% endif %}
            {% if post_detail.image5 != '' %}
                <img src="{{ post_detail.image5.url }}" width = "220" alt = "{{ post_detail.title }}">
            {% endif %}
            <p class="detail_content">{{ post_detail.text }}</p>
        </div>
    </div>
    <div class="g">
        <div class="detail_back">
            <a href="{% url 'model' %}"><button>back-model</button></a>
        </div>
        <div class="detail_active">
            {% if user.role == '모델' %}
                <a href="{% url 'model_edit' model_post_detail.id %}"><button>edit</button></a>
                <a href="{% url 'model_delete' model_post_detail.id %}"><button>delete</button></a>
            {% endif %}
        </div>
    </div>

</body>
